#authorFooter{
    font-family: Arial, serif;
    font-size: 1em;
    text-align: center;
    color: black;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

#footerConent {
    border-radius: 15px;
    background: rgba(255, 255, 0, 0.94);
    padding: 10px;
    width: 30em;
    height: auto;
    text-align: center;
    font-weight: bolder;
    margin-left: auto;
    margin-right: auto;
}