{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <meta charset="UTF-8">
    <title>IAESTE Offers - Poland</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/offerDetailsStyles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/verticalMenuStyles.css' %}"/>
    <script src="{% static 'JavaScript/JsScripts.js' %}"></script>

</head>

<body class="tableWithOffers">

    <div class="pageTitleClass">
        <div id="pageTitle">Offer {{offer.RefNo}} details</div>
    </div>

    <!-- Menu vertical on the left side -->
    <ul>
        <li><a href="http://127.0.0.1:8000/playground/hello/">Offers list</a></li>
        <li><a href="news.asp">Offers map</a></li>
        <li><a href="about.asp">About project</a></li>
        <li><a href="contact.asp">About author</a></li>
    </ul>

     <div id="TableOffers">

        <table id="tableWithOffers" class="transpose">
            <thead>
                <tr>
                    <th>RefNo</th>
                    <th>City</th>
                    <th>Deadline</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="RefNo">
                        {{offer.RefNo}}
                    </td>

                    <td class="City">
                        <a class="link" href="http://127.0.0.1:8000/playground/hello/{{offer.RefNo}}/city" target="_blank">
                            {{offer.City}}
                        </a>
                    </td>

                    <td class="Deadline">
                        {{offer.Deadline}}
                    </td>

                </tr>

            </tbody>
        </table>
    </div>


    <script>

    </script>


    <!-- "safe" is used in order to display string of html code as a html objects on website -->
    <!-- {{table | safe}} -->
</body>
</html>