{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <meta charset="UTF-8">
    <title>IAESTE Offers - Poland</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/offersListStyles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/verticalMenuStyles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/authorFootnoteStyles.css' %}"/>
    <script src="{% static 'JavaScript/JsScripts.js' %}"></script>
    <script src="{% static 'JavaScript/staticElemAdder.js' %}"></script>


</head>

<body class="tableWithOffers" onload="updateDate(); addVerticalMenu(); addAuthorFootnote();">


    <div class="pageTitleClass">
        <div id="pageTitle">IAESTE OFFERS - POLAND</div>

        <p id="current_date"> </p>

        <p id="numbOfOffers"> Currently available {{offer_list_len}} offers.</p>
    </div>

    <div id="verticalMenuElement"></div>

    <br>

    <div id="TableOffers">
        <table id="tableWithOffers">

            <thead>
                <tr>
                    <th>
                        Country <br>
                        <input type="text" id="column0" onkeyup="filterColumn(0)" placeholder="Filter" class="filterColumnInput"> <br>
                        <button onclick="sortTable(0)" class="sortButton">Sort</button>
                    </th>
                    <th>
                        City <br>
                        <input type="text" id="column1" onkeyup="filterColumn(1)" placeholder="Filter" class="filterColumnInput"> <br>
                        <button onclick="sortTable(1)" class="sortButton">Sort</button>
                    </th>
                    <th>
                        Deadline <br>
                        <button onclick="sortTable(2)" class="sortButton">Sort</button>
                    </th>
                    <th>
                        General disciplines <br>
                        <input type="text" id="column3" onkeyup="filterColumn(3)" placeholder="Filter" class="filterColumnInput">
                        <button onclick="sortTable(3)" class="sortButton">Sort</button>
                    </th>
                    <th> Offer type <br>
                        <input type="text" id="column4" onkeyup="filterColumn(4)" placeholder="Filter" class="filterColumnInput">
                        <button onclick="sortTable(4)" class="sortButton">Sort</button>
                    </th>
                    <th> Details </th>
                </tr>
            </thead>

            <tbody>
                {% for offer in offer_list %}
                    <tr>
                        <td class="Country">
                            {{offer.Country}}
                        </td>

                        <td class="City">
                            <a class="link" href="https://iaeste-offers-django-web-appkn.herokuapp.com/iaesteTable/offers/{{offer.RefNo}}/city" target="_blank">
                                {{offer.City}}
                            </a>
                        </td>

                        <td class="Deadline">
                            {{offer.Deadline}}
                        </td>

                        <td class="GeneralDisciplines">
                            {{offer.GeneralDisciplines}}
                        </td>

                        <td class="OfferType">
                            {{offer.OfferType}}
                        </td>

                        <td class="tdDetails">
                            <div>
                                <form class="linkToOfferDetails" action="{{offer.RefNo}}" method="get" target="_blank">
                                    <button type="submit">See details</button>
                                </form>
                            </div>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <br>
    <br>

    <div id="authorFootnote"></div>

</body>
</html>