{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <meta charset="UTF-8">
    <title>IAESTE Offers - Poland</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/offerDetailsStyles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/verticalMenuStyles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/authorFootnoteStyles.css' %}"/>
    <script src="{% static 'JavaScript/JsScripts.js' %}"></script>
    <script src="{% static 'JavaScript/staticElemAdder.js' %}"></script>
</head>

<body class="tableWithOffers" onload="addVerticalMenu(); addAuthorFootnote()">

    <div class="pageTitleClass">
        <div id="pageTitle">Offer number: {{offer.ref_no }}</div>
    </div>

    <div id="verticalMenuElement"></div>

    <br>

     <div id="TableOffers">
        <table id="tableWithOffers" class="transpose">
            <tr>
                <th id="headerField">Field</th>
                <th id="headerInformation">Information</th>
            </tr>

            <tr>
                <td>Ref. No.</td>
                <td class="normalField">{{offer.ref_no }}</td>
            </tr>
            <tr>
                <td>Deadline</td>
                <td class="normalField">{{offer.deadline }}</td>
            </tr>
            <tr>
                <td>City</td>
                <td class="normalField">{{offer.location_city }}</td>
            </tr>
            <tr>
                <td>Country</td>
                <td class="normalField">{{offer.location_country }}</td>
            </tr>
            <tr>
                <td>Offer type</td>
                <td class="normalField">{{offer.OfferType}}</td>
            </tr>
            <tr>
                <td>Gross pay</td>
                <td class="normalField">{{offer.GrossPay}}</td>
            </tr>
            <tr>
                <td>General disciplines</td>
                <td class="normalField">{{offer.general_disciplines }}</td>
            </tr>
            <tr>
                <td>Fields of study</td>
                <td class="normalField">{{offer.fields_of_study }}</td>
            </tr>
            <tr>
                <td>Required knowledge and experiences</td>
                <td class="normalField">{{offer.required_knowledge_and_experiences }}</td>
            </tr>
            <tr>
                <td>Other requirements.</td>
                <td class="normalField">{{offer.other_requirements }}</td>
            </tr>
            <tr>
                <td>Completed years of study</td>
                <td class="normalField">{{offer.completed_years_of_study }}</td>
            </tr>
            <tr>
                <td>Language requirements</td>
                <td class="normalField">{{offer.language_requirements }}</td>
            </tr>
            <tr>
                <td>Work weeks min</td>
                <td class="normalField">{{offer.work_weeks_min }}</td>
            </tr>
            <tr>
                <td>Work weeks max</td>
                <td class="normalField">{{offer.work_weeks_max }}</td>
            </tr>
            <tr>
                <td>From</td>
                <td class="normalField">{{offer.date_from }}</td>
            </tr>
            <tr>
                <td>To</td>
                <td class="normalField">{{offer.date_to }}</td>
            </tr>
            <tr>
                <td>Alternative from</td>
                <td class="normalField">{{offer.alternative_from }}</td>
            </tr>
            <tr>
                <td>Alternative to</td>
                <td class="normalField">{{offer.alternative_to }}</td>
            </tr>
            <tr>
                <td>Company closed from</td>
                <td class="normalField">{{offer.company_closed_from }}</td>
            </tr>
            <tr>
                <td>Company closed to</td>
                <td class="normalField">{{offer.company_closed_to }}</td>
            </tr>
            <tr>
                <td>Work offered description</td>
                <td class="normalField">{{offer.work_offered_description }}</td>
            </tr>
            <tr>
                <td>Working hours</td>
                <td class="normalField">{{offer.WorkingHours}}</td>
            </tr>
            <tr>
                <td>Employer</td>
                <td class="normalField">{{offer.Employer}}</td>
            </tr>
            <tr>
                <td>Workplace</td>
                <td class="normalField">{{offer.Workplace}}</td>
            </tr>
            <tr>
                <td>Website</td>
                <td class="normalField"> <a href ="{{offer.Website}}/" target="_blank">{{offer.Website}} </a></td>
            </tr>
            <tr>
                <td>Lodging by</td>
                <td class="normalField">{{offer.LodgingBy}}</td>
            </tr>
            <tr>
                <td>Living cost</td>
                <td class="normalField">{{offer.LivingCost}}</td>
            </tr>
            <tr>
                <td>EstCost of lodging</td>
                <td class="normalField">{{offer.EstCostOfLodging}}</td>
            </tr>
            <tr>
                <td>Additional info</td>
                <td class="normalField">{{offer.AdditionalInfo}}</td>
            </tr>

        </table>
    </div>

    <div id="authorFootnote"></div>

</body>
</html>