{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <meta charset="UTF-8">
    <title>IAESTE Offers - Poland</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/offersListStyles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/verticalMenuStyles.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/authorFootnoteStyles.css' %}"/>
    <script src="{% static 'JavaScript/JsScripts.js' %}"></script>
    <script src="{% static 'JavaScript/staticElemAdder.js' %}"></script>


</head>


<body class="tableWithOffers" onload="updateDate(); addVerticalMenu(); addAuthorFootnote()">


    <div class="pageTitleClass">
        <div id="pageTitle">IAESTE OFFERS - POLAND</div>

        <p id="current_date"> </p>

        <div id="verticalMenuElement"></div>

        <p>
            Welcome on page with IAESTE offers!
        </p>
        <p>
            Data displayed on this page is downloaded from spreadsheet shared by IEASTE Poland.
        </p>
        <p>
            You can find it
            <a style="color:black" href="https://docs.google.com/spreadsheets/d/e/2PACX-1vR6FjcG59djSQ_kWTfzDok-KPm_KtvwCKAz-J6h-zUr_zTHb2m2AlHCDRNRGTUdMG19py_d4q0sMVQB/pubhtml?gid=1873904204&amp;single=true&amp;widget=true&amp;headers=false">here</a>
        </p>
        <p>
            Click on the column name to sort it in ascending or descending order.
        </p>
        <p>
            Use the filter to search specific places or disciplines.
        </p>
        <p>
            See the offers on the interactive map - click "Offers map" option from the menu on the left side.
        </p>

    </div>




    <script>
function searchInColumn(n) {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("tableWithOffers");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[n]; // change this index if necessary --> index of column
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

    <!-- Offers list -->
    <div id="TableOffers">
        <table id="tableWithOffers">

            <thead>
                <tr>
                    <th onclick="sortTable(0)">Country
                        <input type="text" id="myInput" onkeyup="searchInColumn(0)" placeholder="Filter">
                    </th>
                    <th onclick="sortTable(1)">City
                        <input type="text" id="myInput" onkeyup="searchInColumn(1)" placeholder="Filter">
                    </th>
                    <th onclick="sortTable(2)">Deadline</th>
                    <th onclick="sortTable(3)">
                        General disciplines
                        <input type="text" id="myInput" onkeyup="searchInColumn(3)" placeholder="Filter">
                    </th>
                    <th> Details </th>
                </tr>
            </thead>

            <tbody>
                {% for offer in offer_list %}
                    <tr>
                        <td class="Country">
                            {{offer.Country}}
                        </td>

                        <td class="City">
                            <a class="link" href="http://127.0.0.1:8000/playground/hello/{{offer.RefNo}}/city" target="_blank">
                                {{offer.City}}
                            </a>
                        </td>

                        <td class="Deadline">
                            {{offer.Deadline}}
                        </td>

                        <td class="GeneralDisciplines">
                            {{offer.GeneralDisciplines}}
                        </td>

                        <td class="tdDetails">
                            <form action="http://127.0.0.1:8000/playground/hello/{{offer.RefNo}}" method="get" target="_blank">
                                <button type="submit">See details</button>
                            </form>
                        </td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

    <br>
    <br>

    <div id="authorFootnote"></div>

</body>
</html>