<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <meta charset="UTF-8">
    <title>Peopleeeeee</title>

    <style>
    table {
      border-spacing: 0;
      width: 70%;
      border: 1px solid #ddd;
    }

    th {
      cursor: pointer;
    }

    th, td {
      text-align: left;
      padding: 16px;
    }

    tr:nth-child(even) {
      background-color: #f2f2f2
    }

    .body {
      font-family:sans-serif;
    }
    td {
      padding:10px;
      border:solid 1px #eee;
    }


    </style>


</head>


<body class="tableWithOffers" >


    <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("tableWithOffers");
      switching = true;
      //Set the sorting direction to ascending:
      dir = "asc";
      /*Make a loop that will continue until
      no switching has been done:*/
      while (switching) {
        //start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /*Loop through all table rows (except the
        first, which contains table headers):*/
        for (i = 1; i < (rows.length - 1); i++) {
          //start by saying there should be no switching:
          shouldSwitch = false;
          /*Get the two elements you want to compare,
          one from current row and one from the next:*/
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /*check if the two rows should switch place,
          based on the direction, asc or desc:*/
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch= true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              //if so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /*If a switch has been marked, make the switch
          and mark that a switch has been done:*/
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          //Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /*If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again.*/
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }

    function Geeks() {
        // Getting the table
        var tble = document.getElementById('tableWithOffers');

        // Getting the rows in table.
        var row = tble.rows;

        // Removing the column at index(1).
        var i = 1;
        for (var j = 0; j < row.length; j++) {

            // Deleting the ith cell of each row.
            row[j].deleteCell(i);
        }

    }
    </script>



    <div id="TableOffers">

        <table id="tableWithOffers">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">RefNo</th>
                    <th onclick="sortTable(1)">City</th>
                    <th onclick="sortTable(2)">Deadline</th>
                    <th> Details </th>
                </tr>
            </thead>
            <tbody>
                {% for offer in offer_list %}
                    <tr>
                        <td class="RefNo">{{offer.RefNo}} </td>
                        <td class="City"> {{offer.City}} </td>
                        <td class="Deadline"> {{offer.Deadline}} </td>

                        <td>
                            <form action="http://127.0.0.1:8000/playground/hello/{{offer.RefNo}}" method="get" target="_blank">
                                <button type="submit">See details</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>


    <!-- "safe" is used in order to display string of html code as a html objects on website -->
    <!--  {{table | safe}} -->
</body>
</html>