body {
  margin: 0.5em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* data-filter */
div.input-group.data-filter {
  display: inline-flex;
  width: 16em;
}

/* data-colpicker */
div[data-colpicker-for] {
  display: inline-block;
  vertical-align: top;
  width: 12em;
}

ul.dropdown-menu li {
  margin: 0.15em 1em;
}

ul.dropdown-menu li label {
  width: 100%;
}

/* data-sorter */
table[data-sorter] thead th {
  cursor: pointer;
}
  table[data-sorter] thead th.sort-asc:after {
    content: '\25B2';
    margin-left: 0.5em;
  }
  table[data-sorter] thead th.sort-desc:after {
    content: '\25BC';
    margin-left: 0.5em;
  }

/* hide table rows/columns */
th.hide-cell,
td.hide-cell,
tr.hide-row {
  display: none;
}
